*{
    margin: 0;
    padding: 0;
}
:root{
    --texto : white
}
body{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    div.container{
        margin: 0 auto;
        grid-column: 2;
        grid-row: 2;
        padding: 5.5rem;
        border-radius: 25px;
        text-align: center;
        color: var(--texto);
        background-color: rgba(240, 240, 30, 0.6);
        a{
            text-decoration: none;
            color: var(--texto);
        }
    
    }
}